/* style.css */


/* Hero Section*/
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(rgba(33, 218, 219, 0.8), rgba(77, 148, 230, 0.8)), url('');
    background-size: cover;
    color: var(--color-white);
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.25rem;
    max-width: 600px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--color-tertiary);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2rem;
    }
    .hero-section p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .hero-section h1 {
        font-size: 1.75rem;
    }
    .hero-section p {
        font-size: 0.9rem;
    }
}

/* Expertise Section */
.expertise-section {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    flex-wrap: wrap; 
    min-height: 100vh; 
    background: linear-gradient(var(--color-light-grey), var(--color-tertiary)); 
    padding: 20px; 
}

.expertise-section h1 {
    font-size: 1.5rem;            
    font-weight: bold;           
    text-align: center;           
    margin-bottom: 0.5rem;       
    letter-spacing: 1.5px;        
    text-transform: uppercase;    
    padding: 0.5rem 1rem;    
    color: var(--color-secondary);     
}

.expertise-section h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-wrapper {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px;  
}


.card-list .card-link {
    background: var(--color-white); 
}

.card-list .card-item {
    list-style: none; 
}

.card-list .card-item .card-link {
    user-select: none; 
    display: block; 
    background: #fff; 
    padding: 18px; 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
    text-decoration: none; 
    position: relative; 
}

.card-list .card-link:hover {
    transform: scale(1.02); 
}

.card-list .card-link .card-image {
    width: 100%; 
    aspect-ratio: 16 / 9; 
    object-fit: cover; 
    border-radius: 10px; 
}

.card-list .card-link .badge {
    color: var(--color-primary); 
    background: var(--color-light-grey);
    padding: 8px 16px; 
    font-size: 0.95rem; 
    font-weight: 500; 
    margin: 16px 0 18px; 
    width: fit-content; 
    border-radius: 50px; 
}

.card-list .card-title {
    font-size: 0.8rem; 
    line-height: 1.5; 
    margin-bottom: 16px; 
}

.card-list .card-button {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 16px; 
    padding: 10px 16px; 
    border: none; 
    background-color: var(--color-primary); 
    color: var(--color-white); 
    border-radius: 5px; 
    cursor: pointer; 
}

.card-list .card-button:hover {
    background: var(--color-secondary); 
}

@media (max-width: 1024px) {
    .expertise-section {
        min-height: 20vh; 
        padding: 10px;    
    }
    .card-wrapper {
        gap: 15px;  
    }
}

@media (max-width: 768px) {
    .expertise-section {
        min-height: 20vh; 
        padding: 10px;   
    }

    .card-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;  
    }

    .expertise-section h1 {
        font-size: 1.3rem;
        margin-bottom: 10px; 
    }
}



/* Partner with us section*/

.partner-with-us {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.partner-with-us h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.partner-reasons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.reason {
    background-color: var(--color-light-grey); /* Default background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; 
}


.reason:hover {
    transform: translateY(-10px);
}

.icon {
    font-size: 2rem;
    color: #ff6b6b; /* Change to a brand color if needed */
}

.reason h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.reason p {
    font-size: 1rem;
    color: #666;
}

a.cta-button{
    text-decoration: none;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .partner-reasons {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .partner-with-us h2 {
        font-size: 1.5rem;
    }

    .partner-reasons {
        grid-template-columns: 1fr;
    }

    .reason {
        padding: 15px;
    }

    .reason h3 {
        font-size: 1.1rem;
    }

    .reason p {
        font-size: 0.9rem;
    }
}

/* Icon Styling */
.icon {
    font-size: 2rem;
    color: var(--color-primary);
}

.reason h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: var(--color-dark-grey);
}

.reason p {
    font-size: 1rem;
    color: var(--color-dark-grey);
}

/* Deliver Section */

.accordion{
    margin: 60px auto;
    width: 600px;
}

.accordion li{
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: var(--color-primary);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);

}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    color: var(--color-light-grey);
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before{
    content: '-';
}

/* Connect Section*/
.lets-connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-light-grey); 
}

.lets-connect-text {
    flex: 1;
    padding-right: 1rem;
}

.lets-connect-text a i {
    font-size: 1.2rem; 
}

.lets-connect-text h2 {
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.lets-connect-text p {
    color: var(--color-dark-grey);
    font-size: 1rem;
    line-height: 1.6;
}

.lets-connect-text a {
    color: var(--color-tertiary);
    text-decoration: none;
    font-weight: bold;
}

.lets-connect-text a:hover {
    text-decoration: underline;
}

.lets-connect-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lets-connect-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .lets-connect {
        flex-direction: column;
        text-align: center;
    }

    .lets-connect-text {
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .lets-connect-image img {
        max-width: 80%;
    }
}

